h2 {
  text-align: center;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;

  text-align: center;
}
.card {
  margin: 0 0.5em;
}
.card .convert {
  font-size: 2em;
  font-weight: 800;
}
input {
  display: block;
  width: 100%;
  max-width: 5em;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  border: 1px solid;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
select {
  display: block;
  width: 10.4em;
  height: 2em;
  border: 1px solid;
  font-weight: 200;
  font-size: 1em;
}
